---
import Logo from "./Logo.astro";

export type MenuItem = {
  label: string;
  url: string;
  children?: MenuItem[];
};

export type NavbarButton = {
  text: string;
  href: string;
  style: string;
};

export const menuLeft: MenuItem[] = [
  { label: "New to flying", url: "#" },
  {
    label: "Pilot Training",
    url: "#",
    children: [
      { label: "Private Pilot Certificate", url: "#" },
      { label: "Commercial Pilot Certificate", url: "#" },
      { label: "Instrument Rating", url: "#" },
      { label: "CFI", url: "#" },
      { label: "CFII", url: "#" },
    ],
  },
];

export const menuRight: MenuItem[] = [
  {
    label: "About Us",
    url: "#",
    children: [
      { label: "About Us", url: "#" },
      { label: "Our Team", url: "#" },
      { label: "FAQs", url: "#" },
      { label: "Blog", url: "#" },
      { label: "Contact Us", url: "#" },
    ],
  },
];

export const buttons: NavbarButton[] = [
  {
    text: `Enroll Now`,
    href: "#enroll-form",
    style:
      "bg-primary-600 text-white text-2xl rounded-full px-6 py-1 hover:brightness-110 transition",
  },
];

const { pathname } = Astro.props;
---

<nav id="navbar" class="fixed md:top-10 w-full z-50 transition-all duration-500">
  <!-- Desktop Menu -->
  <div class="relative flex items-center md:justify-center justify-end lg:bg-primary-800/40 backdrop-blur-2xl rounded-full px-4 py-3 max-w-7xl mx-auto">
    <!-- Wing Menus Container -->
    <div class="hidden md:flex items-center justify-around w-full relative">
      <!-- Left Wing -->
      <ul
        class="flex items-center gap-8 text-white "
      >
        {menuLeft.map((item) => (
          <li class="relative group flex items-center font-semibold text-xl text-center">
            <a
              href={item.url}
              class="font-medium uppercase transition hover:underline hover:underline-offset-2"
            >
              {item.label}
            </a>
            {item.children && (
              <ul
                class="absolute top-full left-0 min-w-[220px] bg-primary-600 text-white rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300"
              >
                {item.children.map((child) => (
                  <li>
                    <a
                      href={child.url}
                      class={`block px-4 py-2 hover:bg-primary-800 transition ${
                        child.url === pathname ? "bg-primary-800" : ""
                      }`}
                    >
                      {child.label}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))}
      </ul>

      <!-- Centered Logo (overlapping) -->
      <a
        href="#"
        class="absolute left-1/2 -translate-x-1/2 shrink-0 flex justify-center items-center z-10"
      >
        <Logo classes="w-28 md:w-36 drop-shadow-lg" blackAndWhite={true} />
      </a>

      <!-- Right Wing -->
      <div
        class="flex items-center gap-8 text-white "
      >
        <ul class="flex items-center gap-8">
          {menuRight.map((item) => (
            <li class="relative group flex items-center font-semibold text-xl text-center">
              <a
                href={item.url}
                class="font-medium uppercase transition hover:underline hover:underline-offset-2"
              >
                {item.label}
              </a>
              {item.children && (
                <ul
                  class="absolute top-full left-0 min-w-[220px] bg-primary-600 text-white rounded-md opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-300"
                >
                  {item.children.map((child) => (
                    <li>
                      <a
                        href={child.url}
                        class={`block px-4 py-2 hover:bg-primary-800 transition ${
                          child.url === pathname ? "bg-primary-800" : ""
                        }`}
                      >
                        {child.label}
                      </a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))}
        </ul>

        <!-- Buttons -->
        {buttons.map((button) => (
          <a href={button.href} class={button.style}>
            {button.text}
          </a>
        ))}
      </div>
    </div>

    <!-- Mobile Hamburger -->
    <button
      id="mobile-toggle"
      class="md:hidden absolute top-0 right-0 flex flex-col gap-1 text-white bg-primary-800/40 backdrop-blur-2xl  rounded-full focus:outline-none z-50 p-6"
      aria-label="Toggle menu"
    >
      <svg
        id="bars"
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <line x1="3" x2="21" y1="6" y2="6" />
        <line x1="3" x2="21" y1="12" y2="12" />
        <line x1="3" x2="21" y1="18" y2="18" />
      </svg>
      <svg
        id="xmark"
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 hidden"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
      >
        <path d="M6 6l12 12M18 6L6 18" />
      </svg>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="absolute top-0 h-screen left-0 w-full bg-primary-800 text-white max-h-0 overflow-hidden transition-all duration-500 z-30"
  >
    <div class="border-t border-primary-300 py-4 px-4">
      <a href="/" class="w-12">
        <Logo classes="max-w-24 mx-auto bg-white rounded-full" />
      </a>
    </div>

    <ul class="flex flex-col px-4 py-2 space-y-2 w-full">
      {[...menuLeft, ...menuRight].map((item) => (
        <li class="border-b border-primary-400">
          <a href={item.url} class="block py-3 font-semibold uppercase">{item.label}</a>
          {item.children && (
            <ul class="pl-4 border-l border-primary-300 hidden flex-col space-y-1">
              {item.children.map((child) => (
                <li>
                  <a href={child.url} class="block py-2 text-sm ">{child.label}</a>
                </li>
              ))}
            </ul>
          )}
        </li>
      ))}
    </ul>


    <!-- Social icons -->
    <div class="flex items-start align-middle gap-4 text-white pb-12 justify-center py-2">
      <a href="#" target="_blank" class="hover:text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M12.001 9a3 3 0 1 0 0 6a3 3 0 0 0 0-6m0-2a5 5 0 1 1 0 10a5 5 0 0 1 0-10m6.5-.25a1.25 1.25 0 0 1-2.5 0a1.25 1.25 0 0 1 2.5 0M12.001 4c-2.474 0-2.878.007-4.029.058c-.784.037-1.31.142-1.798.332a2.9 2.9 0 0 0-1.08.703a2.9 2.9 0 0 0-.704 1.08c-.19.49-.295 1.015-.331 1.798C4.007 9.075 4 9.461 4 12c0 2.475.007 2.878.058 4.029c.037.783.142 1.31.331 1.797c.17.435.37.748.702 1.08c.337.336.65.537 1.08.703c.494.191 1.02.297 1.8.333C9.075 19.994 9.461 20 12 20c2.475 0 2.878-.007 4.029-.058c.782-.037 1.308-.142 1.797-.331a2.9 2.9 0 0 0 1.08-.703c.337-.336.538-.649.704-1.08c.19-.492.296-1.018.332-1.8c.052-1.103.058-1.49.058-4.028c0-2.474-.007-2.878-.058-4.029c-.037-.782-.143-1.31-.332-1.798a2.9 2.9 0 0 0-.703-1.08a2.9 2.9 0 0 0-1.08-.704c-.49-.19-1.016-.295-1.798-.331C14.926 4.006 14.54 4 12 4m0-2c2.717 0 3.056.01 4.123.06c1.064.05 1.79.217 2.427.465c.66.254 1.216.598 1.772 1.153a4.9 4.9 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.047 1.066.06 1.405.06 4.122s-.01 3.056-.06 4.122s-.218 1.79-.465 2.428a4.9 4.9 0 0 1-1.153 1.772a4.9 4.9 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465c-1.067.047-1.406.06-4.123.06s-3.056-.01-4.123-.06c-1.064-.05-1.789-.218-2.427-.465a4.9 4.9 0 0 1-1.772-1.153a4.9 4.9 0 0 1-1.153-1.772c-.248-.637-.415-1.363-.465-2.428C2.012 15.056 2 14.717 2 12s.01-3.056.06-4.122s.217-1.79.465-2.428a4.9 4.9 0 0 1 1.153-1.772A4.9 4.9 0 0 1 5.45 2.525c.637-.248 1.362-.415 2.427-.465C8.945 2.013 9.284 2 12.001 2"
          ></path>
        </svg>
      </a>
      <a href="#" target="_blank" class="hover:text-gray-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"
          ></path>
        </svg>
      </a>
    </div>

    <div class="border-t border-primary-300 py-4 px-4">
      {buttons.map((button) => (
        <a href={button.href} class={`${button.style} btn-accent btn-middle block w-full text-center`}>{button.text}</a>
      ))}
    </div>
  </div>
</nav>

<script type="module">
  const toggle = document.getElementById("mobile-toggle");
  const mobileMenu = document.getElementById("mobile-menu");
  const bars = document.getElementById("bars");
  const xmark = document.getElementById("xmark");

  toggle.addEventListener("click", () => {
    const open = mobileMenu.classList.toggle("max-h-screen");
    bars.classList.toggle("hidden", open);
    xmark.classList.toggle("hidden", !open);
    document.body.classList.toggle("overflow-hidden", open);
  });
</script>
